.homePageContainer{
    background-color: rgb(8, 0, 66);
    color: white;
}

.innerContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 5.8rem;
    padding-bottom: 9.8rem;
    margin: auto;
    /* gap: 5rem; */
}

.homePageDesc{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.heading{
    font-weight: bolder;
    font-size: 4rem;
    width: 50%;
}

.btnGrp{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.btnGrp button{
    width: 8rem;
}

.socialLinks{
    margin-top: 0.8rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link{
    width: 2.2rem;
    height: 2.2rem;
}

.link:hover{
    color: white;
}

.homePageImg{
    text-align: end;
    position: relative;
    width: 45%;
    height: 40vh;
    margin: auto 0;
}